<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Password maker</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="img/x-icon" href="img/icon.png">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/x-icon" href="img/icon.png">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/common.js"></script>
</head>
<body class="bg-light mt-5">
    <div class="container" id="app">
        <div class="row">
            <div id="outer-wrap" class="col-12 offset-6 bg-white b-shadow pt-5">

                <h1 class="text-center mb-5"><img src="img/password-maker.png" alt="パスワードメイカー" class="col-18"></h1>

                <!-- パスワード出力部分 -->
                <div id="textarea" class="text-end w-75 m-auto">
                    <input id="copy-text" type="text" class="form-control form-control-lg text-center fs-11 mb-3" :value="password" readonly>
                    <!-- <button id="keep-btn" class="btn-secondary rounded-1 mb-4 me-2">一時保存</button> -->
                    <button id="copy-btn" class="btn-primary rounded-1 mb-4">コピーする</button>
                </div>

                <!-- スウィッチボックス -->
                <div class="row">
                    <div id="inner-wrap" class="col-18 offset-3">

                        <h2>カスタマイズ</h2>

                        <div class="row mb-5">
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="big-alpha" v-model="big_alpha">
                                    <label class="form-check-label" for="big-alpha">英大文字</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="small-alpha" v-model="small_alpha">
                                    <label class="form-check-label" for="small-alpha">英子文字</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="numbers" v-model="numbers">
                                    <label class="form-check-label" for="numbers">数字</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="symbols" v-model="symbols">
                                    <label class="form-check-label" for="symbols">記号</label>
                                </div>
                            </div>
                        </div>

                    </div><!-- col-18 offset-3 -->
                </div><!-- row -->

                <!-- ナンバーカウンター -->
                <div class="d-flex mb-3">
                <label for="length" class="col-form-label">文字数</label>
                    <div class="ms-3 w-75">
                        <input type="number" id="length" max="20" min="4" class="form-control" v-model="length" readonly>
                        <small class="list-group-item-warning small mb-5">4文字〜20文字で指定</small>
                        <div class="count-box text-end">
                            <button @click="decrement" v-if="length !== 4">-1</button>
                            <button class="btn-not-active" v-else="length === 4">-1</button>
                            <button @click="increment" v-if="length !== 20">+1</button>
                            <button class="btn-not-active" v-else="length === 20">+1</button>
                        </div>
                    </div>
                </div>

                <div class="keep-data-wrap">
                    <ul id="keep-data"></ul>
                    <!-- <button id="delete-btn" class="btn-secondary rounded-1 mb-4">一括削除</button> -->
                </div>
            </div><!-- col-12 offset-6 -->
        </div><!-- row -->
    </div> <!-- container -->

    <!-- Vue CDN読み込み -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const myApp = {
            data() {
                return {
                    // fomr ディリクティブ 紐付け
                    big_alpha: true,
                    small_alpha: true,
                    numbers: true,
                    symbols: true,
                    length: 10
                }
            },
            methods: {
                increment() {
                    this.length++;
                },
                decrement() {
                    this.length--;
                }
            },
            computed: {
                password() {
                    // 定数定義
                    const big_alpha_string = 'ABCDEFGHJKLMNPQRSTUVWXYZ'
                    const small_alpha_string = 'abcdefghjklmnopqrstuvwzxy'
                    const numbers_string = '23456789'
                    const symbols_string = '!@#$%^&*()'

                    // v-model紐付け
                    let source = ''
                    source += (this.big_alpha ? big_alpha_string : '')
                    source += (this.small_alpha ? small_alpha_string : '')
                    source += (this.numbers ? numbers_string : '')
                    source += (this.symbols ? symbols_string : '')
                    if (source === '') return 'チェックを入れて下さい'

                    // 初期値宣言
                    let ret = ''

                    for (let i=0; i<this.length; i++) {
                        let rand = Math.floor(Math.random() * source.length)
                        ret += source.substr(rand, 1)
                    }
                    return ret
                }
            }
        }
        Vue.createApp(myApp).mount('#app')
    </script>
</body>
</html>